body {
    background:linear-gradient(90deg,#2c3e50 ,#4ca1af);
}
.bggg{
   background:linear-gradient(90deg,#4ca1af ,#1abc9c); 
}
.jalsoft-music-card {
    padding:15px 15px;
    border-radius:5px;
    border:2px solid rgba(96,96,96,0.3);
}
.card {
    background: transparent;
}
.videoP {
    max-width:350px;
}
.prof-pic {
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit: contain;
}
.player_bgg {
    background: radial-gradient(circle, #ff7e5f, #feb47b);
}
.player-phone {
    min-height:600px;
    padding:15px 15px;
    border-radius:5px;
    border:2px solid rgba(96,96,96,0.3);
    max-width:350px;
    background: linear-gradient(105deg,#2c2535 2%,#af8378 3%, #4d321e 5%, #945b30 10%,#2c2535 30%);
    background-repeat:no-repeat;
    background-size:cover;
    /* background-attachment:fixed; */
}
.songNav {
    min-height:60px;
}
.bgll {
    background:#f1f1f128;
}
.song-image  {
    height:300px;
}
.song-duration {
    height:100px;
}
.song-duration input::-webkit-slider-runnable-track {
    background:purple;
    height:8px;
    border-radius:5px;
}
.song-duration input::-webkit-slider-thumb {
    width:15px;
    height:15px;
    background:#fff;
    border:5px solid blue;
    border-radius: 50%;
}
.control-buttons {
    height:80px;
}